.searchesWrapper {
  text-align: center;
  padding: 1rem;
  margin: 2rem 0 3rem 0;
  position: relative;

  .layout {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;

    @media (min-width: "768px") {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: "1200px") {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  a {
    font-size: 1.1rem;
    color: hsl(249, 65%, 65%);
    &:hover {
      text-decoration: underline;
      color: hsl(249, 65%, 65%);
    }
  }
}
