.nav {
  display: grid;
  place-items: center;
  background-color: hsl(249, 65%, 57%);
  width: 100vw;
  height: 64px;

  h1 {
    color: white;
    margin-bottom: 0;
  }

  @media (min-width: "1300px") {
    display: none;
  }
}

.details-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;

  @media (min-width: "768px") {
    grid-template-columns: 1fr 360px;
  }

  .content {
    @media (min-width: "1300px") {
      margin-left: 240px;
    }
  }

  .footer {
    min-height: 50px;
    background-color: #eee;
    color: #212121;
    font-size: 0.75rem;
    text-align: center;
    padding: 0.5em 1em;
    bottom: 0;
    position: relative;
    a {
      color: #212121;
      padding: 1em;
      display: inline-block;
    }
    span {
      color: #212121;
      padding: 1em;
      display: inline-block;
    }
  }

  .sidebar-left {
    padding: 2rem 3rem 2rem 2.5rem;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: hsl(249, 65%, 95%);

    @media (min-width: "1300px") {
      display: flex;
    }
  }

  .sidebar-right {
    padding: 2rem 2.5rem 2rem 3rem;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: hsl(249, 65%, 95%);
    user-select: none;

    @media (min-width: "768px") {
      display: flex;
    }
  }

  .sidebar-left,
  .sidebar-right {
    p {
      font-size: 1rem;
      color: black;
      margin-bottom: 10px;
      transition: color 0.3s;
      cursor: pointer;
    }
    p:hover {
      color: hsl(249, 65%, 65%);
    }
  }
}
