.wrapper {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  .ant-card-head-title {
    text-align: start;
  }
}

.footer {
  min-height: 50px;
  background-color: #eee;
  color: #212121;
  font-size: 0.75rem;
  text-align: center;
  padding: 0.5em 1em;
  bottom: 0;
  position: relative;
  a {
    color: #212121;
    padding: 1em;
    display: inline-block;
  }
  span {
    color: #212121;
    padding: 1em;
    display: inline-block;
  }
}
