.searchSection {
    min-height: 100vh;
    background-image: linear-gradient(-44deg, #fbf1ea, #eceafb 96%);
    background-position: center bottom, bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto, cover;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: inherit;
}