.details-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  overflow: scroll;

  @media (min-width: "768px") {
    grid-template-columns: 1fr 360px;
  }

  @media (min-width: "1300px") {
    grid-template-columns: auto 1fr 360px;
  }
}

.sidebar-left {
  padding: 2rem 3rem 2rem 2.5rem;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background-color: hsl(249, 65%, 95%);

  @media (min-width: "1300px") {
    display: flex;
  }

  p {
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
    transition: color 0.3s;
  }
  p:hover {
    color: hsl(249, 65%, 65%);
  }
}

.sidebar-right {
  padding: 2rem 2.5rem 2rem 3rem;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background-color: hsl(249, 65%, 95%);

  @media (min-width: "768px") {
    display: flex;
  }

  a {
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
  }
  a:hover {
    color: hsl(249, 65%, 65%);
  }
}

.nav {
  display: grid;
  place-items: center;
  background-color: hsl(249, 65%, 57%);
  width: 100vw;
  height: 64px;

  h1 {
    color: white;
    margin-bottom: 0;
  }

  @media (min-width: "1300px") {
    display: none;
  }
}
