body {
  margin: 0;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-select-dropdown {
  padding-top: 0px !important;
    .ant-select-item {
      
      padding: 8px 16px;
    font-weight: 400;
    font-size: 16px;
    }
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #5f49d9 !important;
}
.QueryModal {
  width: 80% !important;
  border-radius: 10px;
  overflow: hidden;
  .ant-modal-header {
    background-color: #5f49d9;
    .ant-modal-title {
      font-size: 22px;
      color: #fff;
    }
  }
}
