.homePageWrapper {
  .searchSection {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(https://assets.gethuman.com/img/blingHeroBG2.png),
     linear-gradient(-44deg, #5f49d9 0, #131613a8 96%);
    background-position: center bottom, bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto, cover;
    color: #fff;
    text-align: center;
  }
  .search-elements {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    h1 {
      line-height: 1.2em;
      margin-bottom: 2.25rem;
      font-size: 3rem;
      color: #fff;
    }
    h2 {
      font-weight: 400;
      line-height: 1.2em;
      margin-bottom: 2.25rem;
      color: #fff;
    }
  }
  .autoCompleteSection {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
    border-color: #ccc;
    height: 60px;
    flex: 3;
    box-shadow: none;
    font-size: 1.1rem;
    padding: 0 0.75rem;
    line-height: 1.5rem;
    height: 50px;
    padding: 0 0.5rem;
    display: block;
    width: 100%;
    min-height: 50px;
    margin-top: 0;
  }
  .ant-select-show-search.ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    height: inherit;
  }
  .footer {
    min-height: 50px;
    background-color: #72d469;
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
    padding: 0.5em 1em;
    bottom: 0;
    position: relative;
    a {
      color: #fff;
      padding: 1em;
      display: inline-block;
    }
    span {
      color: #fff;
      padding: 1em;
      display: inline-block;
    }
  }
}
